.container {
  /* background-color: aqua; */
  /* display: flex; */
  /* justify-content: center; */
}
.firstBlock_container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding-left: 8%;
  padding-right: 5%;
  margin-top: 5%;
  height: 650px;
}
.firstimage {
  height: 700px;
  width: 500px;
}
.firstblock_content {
  display: block;
  padding-left: 7%;
}
.firstblock_heading {
  font-size: 100px;
}
.firstblock_txt {
  font-size: 20px;
  margin-top: -60px;
  margin-right: 130px;
}
.firstblock_btnWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.txtField_wrapper {
  flex: 1.5;
}
.textBox {
  border: none;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  font-size: 20px;
  width: 100%;
}
.btn_wrapper {
  flex: 1;
  margin-left: 10%;
}
button {
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  border-radius: 10px;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #0c0c0c;
}
.secontblock_container {
  background: #09ad7f;
  height: 300px;
  padding: 8%;
  padding-bottom: 20%;
}
.secondblock_txt {
  font-size: 55px;
  font-weight: 100;
  word-spacing: 10px;
}
.thirdblock_container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.thirdblockImage_wrapper {
  width: 100%;
  /* text-align: center; */
}
.thirdblock_image {
  width: 70%;
  height: 500px;
  margin-top: -10%;
  margin-left: 25%;
}
.thirdblock_txt {
  font-size: 20px;
  margin-left: 25%;
}
.btn_wrapper {
  margin-left: 25%;
}
.fourthblock_container {
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 10%;
}
.third_image {
  width: 650px;
  height: 400px;
}
.fourthblock_txt {
  font-size: 40px;
  margin-left: 5%;
}
.fourthblock_featureTxt {
  font-size: 20px;
  font-weight: 700;
  margin-left: 5%;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 2px;
  width: 26%;
}
.fifthblock_container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 5%;
  padding-bottom: 5%;
}
.fifthblock_box {
  width: 25%;
}
.border_container {
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 2px;
  width: 100%;
  padding-bottom: 10px;
  font-size: 30px;
  color: #013619;
}
.fifthblock_heading {
  font-size: 30px;
  color: #013619;
}
.fifthblock_txt {
  font-size: 20px;
  color: #013619;
}
.sixthblock_container {
  width: 100%;
  height: 800px;
  background-color: #265c3e;
  display: flex;
  justify-content: space-between;
  padding-top: 10%;
}
.top_word {
  color: white;
  border-top-color: white;
  border-top-style: solid;
  width: 22%;
  margin-left: 25%;
}
.bigTxt {
  font-size: 45px;
  color: white;
}
.authorName {
  color: white;
  font-size: 20px;
  margin-left: 15%;
}
.sixthblock_block1 {
  width: 50%;
  padding-left: 10%;
  padding-right: 10%;
}
.sixthblock_block2 {
  width: 50%;
}
.sixthblock_image {
  width: 430px;
  height: 600px;
}
.seventhblock_container {
  display: flex;
  justify-content: space-around;
  padding-top: 10%;
  padding: 8%;
  background-color: #c1e3d0;
}
.seventhblock_image {
  width: 600px;
  height: 400px;
}
.seventhblock_heading {
  font-size: 55px;
  margin-right: 6%;
  color: #035428;
}
.seventhblock_txt {
  font-size: 25px;
  margin-right: 8%;
  color: #011c0d;
}
.seventhblock_btn {
  font-size: 20px;
  font-weight: 700;
  border-bottom-style: solid;
  border-bottom-color: #011c0d;
  border-bottom-width: 2px;
  width: 27%;
  color: #011c0d;
}
.eightblock_container {
  width: 100%;
  display: flex;
  background-color: #113320;
}
.eightblock_div1 {
  width: 40%;
  height: 600px;
  background-color: #191f1b;
  padding-left: 10%;
  padding-top: 10%;
}
.eightblock_div2 {
  width: 50%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.eightblock_image {
  width: 70%;
  height: 550px;
}
.eightblock_txt {
  font-size: 45px;
  margin-left: 16%;
  margin-right: 16%;
  color: #a3d1b8;
}
.ninethblock_container {
  background-color: #50cc96;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.nineblock_txt1 {
  font-size: 50px;
}
.nineblock_txt2 {
  font-size: 50px;
  margin-top: -30px;
  font-weight: 700;
}
.footer1 {
  background-color: #191f1b;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  padding: 4%;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.footer1_block1 {
  width: 30%;
}
.footer1_txt1 {
  font-size: 40px;
  color: white;
}
.footer1_txt2 {
  font-size: 20px;
  color: white;
  line-height: 1.6;
}
.footer1_block2 {
  width: 33%;
  margin-right: 10%;
  display: flex;
  justify-content: space-between;
}
h3 {
  color: white;
}
h4 {
  color: white;
}
.footer2 {
  background-color: #191f1b;
  color: white;
  height: 40px;
  padding: 40px;
}
.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-color: black;
  border-bottom-style: solid;
  padding-top: 20px;
  padding-bottom: 20px;
}
.navbar_wrapper {
  display: flex;
  flex: 3;
  align-items: center;
  padding-left: 8%;
  padding-right: 30%;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
li {
  font-size: 18px;
}
.navbar_loginBtn {
  flex: 1;
  display: flex;
  justify-content: space-around;
  padding-right: 5%;
}
.navbar_links {
  flex: 4;
}
.navbar_logo {
  font-size: 30px;
  flex: 1;
}
.login {
  font-size: 20px;
}
.freeStart {
  font-size: 20px;
  border-left-width: 2px;
  border-left-color: black;
  border-left-style: solid;
  padding-left: 10px;
}
